<div class="card" style="width: 400px;">
    <div class="card-body">
        <!-- <form> -->
            <!-- <div *ngFor="let cotent of allUsers; let i = index"> -->
            <div>
              <div class="mb-2">   
                <input type="text" id="" placeholder="amount" class="form-control" [(ngModel)]="numb">
              </div>
               <button type="button" class="btn btn-block w-75 mx-auto"
                style="border-radius:5%;background-color:blue; color:white" (click)="deposit()">Deposit</button>
        <!-- </form> -->
    </div>
    </div>
</div>