<div class="container-fluid  d-flex" style="height:350px">
  <div class="container w-sm-50 w-lg-50 ml-8" id="div1">
    <h1 id="text1">Earn the money <br>and get bonuses  </h1>
    <p id="text2">make your daily routine easier by managing money and transactions with the Easy app <br></p>
  </div>
  <div class="container  w-sm-25 w-lg-50 " id="div2">
    <img src="../../assets/hand.jfif" alt="" width="100%" height="106%" style="margin-top: -20px;">
  </div>
</div>
<div class="container-fluid d-flex " id="part2">
<div class="ml-4">
  <p style="font-weight: bolder;font-size: 50px;text-shadow: 2px 2px blue; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: rgb(236, 223, 223); margin-left: 30px;">82%</p>
  <p style="margin-top: -20px; font-weight: bold;text-shadow: 2px 2px blue;font-size: 14px;color: rgb(216, 210, 210); margin-left: 30px;">Easy bank got you.</p>
</div>
<div>
  <p style="font-weight: bolder;font-size: 50px;text-shadow: 2px 2px blue; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: rgb(236, 223, 223); margin-left: 80px;">431,000</p>
  <p style="margin-top: -20px; font-weight: bold;text-shadow: 2px 2px blue;font-size: 14px;color: rgb(216, 210, 210); margin-left: 120px;text-decoration:double;">Bank with us</p>
</div>
</div>

<!-- <div id="contain">
    <div id="bg">
      <section id="sec2" >
       <h1>The most <br>transparent <br>& security <br>banking ever</h1>
       <p style="font-size: 14px;">order a card and get more than <br>20 unique featured worldwide</p>
      </section>
    </div>
    <div id="bgg">
        <img {{url}} alt="" srcset="">
        <p>gfgggggdddddddddddd</p>
    </div>

</div> 
 -->
